.adventurex-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.adventurex-presentation, .ae-details {
  width: 70%;
  margin-top: 40px;
  padding:15px;
}

.ae-text {
  font-size: 18px;
  margin-top: 10px;
}

.ae-parts {
  margin-bottom: 8px;
}

.adventurex-presentation h1 {
  margin:0;
  font-size: 48px;
}

.sports-img  {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.adventurex-img {
  width: 100%;
  height: 550px;
}

.ae-details h2 {
  margin-top: 0;
  font-size: 35px;
}

.ae-parts {
  font-size: 22px;
}

.link {
  margin-top: 6px;
}

.visite-adventurex {
  text-decoration: none;
  color: rgb(49, 46, 46);
}

.visite-adventurex:hover {
  color: rgb(13, 115, 13);
  letter-spacing: 0.8px;
}

@media screen and (max-width: 600px){
  .adventurex-presentation, .ae-details {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 30px;
    padding:15px;
    font-size: 20px;
  }

  .adventurex-home-mobile {
    width: 100%;;
  }

  .ae-desktop {
    display: none;
  }
  .ae-mobile {
    display: block;
  }
 }
