.certifications {
  text-align: center;
}

#wagon-img {
  width: 100px;
  height: 100px;
  filter: grayscale(100%);
}

h4 {
  margin-bottom: 0px;
  font-size: 20px;
}

.bootcamp {
  margin-bottom: 20px;
  margin-top: 5px;
}
