.form-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px - 50px);
  justify-content: center;
}

.form {
  position: absolute;
  top:50%;
  left: 50%;
  grid: 30px;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
}

.form-field {
  width: 30vw;
  height: 40px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.61);
  padding-left: 12px;
  font-family: "Quattrocento";
}

#message-field {
  padding-top: 10px;
  height: 100px;
}

#submit-btn {
  border: none;
  background-color: #65a7a0;
  width:calc(30vw + 15px);
  color: white;
  font-size: 15px;
}

#submit-btn:hover {
  transform: scale(1.02);
}

.form-title {
  display: flex;
  justify-content: center;
  text-align: center;
}
