.journey-title {
  margin-inline: 220px;
}

.journey {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 260px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding-bottom: 20px;
  background-color: #65a7a03b;
  border-radius: 8px;
  box-shadow: 1.5px 1.5px rgba(255, 255, 255, 0.782);
}

.project-card img {
  width: 190px;
  height: 1900px;
  object-fit: contain;
  border-radius: 50%;

}

#gardenease-img {
  background-color: rgb(255, 237, 128);
}

h4 {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.859);
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 12px;
  border-radius: 10px;
  font-size: 18px;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px rgba(144, 139, 139, 0.096);
}

.info:hover {
  text-decoration: underline #65a7a0; ;
}
