.journey-title {
  margin-inline: 300px;
  text-align: center;
}

.journey {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 70px;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.text-info {
  display: none;
  width: 200px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
}

.text-info.show {
  display: block;
}

.project {
  text-decoration: none;
  color: rgb(49, 46, 46);
}

.project.border {

  padding: 10px;
}

.project.small {
  transform: scale(0.92);
  opacity: 0.9;
  margin-top: 8px ;
  margin-inline:-30px;
}

/* #gardenease-project:hover {
  margin-left: 160px;
}

#adventure-project:hover {
  margin-right: 160px;
} */

.project-card {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 310px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding-bottom: 20px;
  border: 1.5px solid #65a7a0a8;
  border-radius: 8px;
  box-shadow: 1px 1.5px rgba(128, 128, 128, 0.304);
}

/*  #gardenease {
  margin-left: 300px;
}

#gardenease:hover {
  margin-left: 0px;
}

#adventure {
  margin-right: 300px;
}

/*  #adventure:hover {
  margin-right: 0px;
}*/

.project-img {
  width: 220px;
  height: 210px;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
}

#gardenease-img {
  background-color: rgb(255, 237, 128);
}

h3 {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.816);
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 12px;
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
}

.stack-list {
  width: 85%;
  display: flex;
  padding: 0px;
  list-style-type: none;
  margin: 0;
  justify-content: left;
  align-items: end;
}

.api {
  font-size: 12px;
  margin:0px;
  margin-bottom: 1px;
  font-weight: bold;
}

.stack-img {
  display: inline;
  align-items: end;
  width: 22px;
  height: 22px;
}

#html-css {
  width: 18px;
  height: 18px;
  margin-bottom: 2px;
}



@media screen and (max-width: 900px) {
  .journey-title {
    margin-inline: 20%;
    text-align: center;
  }

}

@media screen and (max-width: 600px) {
  .projects {
    flex-direction: column;
  }

  .project {
    display: flex;
    justify-content: center;
  }

}
