/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import './components/navbar.css';
@import './components/profile.css';
@import './components/journey.css';
@import './components/footer.css';
@import './components/contact_form.css';
@import "font-awesome";

body {
  background-color: #ecffe9;
  color: rgb(49, 46, 46);
  margin:auto;
  font-family: "Quattrocento", serif;
  font-size: 16px;
  justify-content: center;
}

h2 {
  font-size: 30px;
  margin-top: 35px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: solid 3px #65a7a0;
  border-radius: 3px;
}
